{% from "common/macro.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ static('front/css/front_base.css')}}">
    {% block css_or_js %}{% endblock %}
</head>
<body>

<div class="logo"><a href="{{ url_for('home.index') }}"><img src="{{ url_for("static",filename="img/logo.jpg") }}" alt="">1902bbs论坛</a></div>

<div class="user">
    {% set user = g.front_user %}
    <span id="one"><a href="{{ url_for('home.signup') }}">注册</a></span>
    <span id="one"><a href="{{ url_for('home.login') }}">登录</a></span>
    <span id="two"><a href="{{ url_for('home.login') }}">{{ user.username|default("游客")}}</a></span>
    <span id="three"><a href="{{ url_for('home.profile') }}">个人中心</a></span>
    <span id="four"><a href="">设置</a></span>
    <span id="five"><a href="{{ url_for('home.logout') }}">退出登录</a></span>
</div>

<div class="nav">
    <span id="one"><a href="">主板块</a></span>
    <span id="two"><a href="">python学习</a></span>
    <span id="three"><a href="{{ url_for('book.index') }}">学习丛书</a></span>
    <span id="four"><a href="">社区讨论</a></span>
    <span id="five"><a href="">xxx</a></span>
</div>


    {% block content %}{% endblock %}
</body>
</html>