{% extends 'cms/base.html' %}

{% block title %}
修改密码
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>请输入原始密码:</td>
                <td><input type="password" placeholder="原始密码" name="password1" required></td>
            </tr>
             <tr>
                <td>请输入更改后的密码:</td>
                <td><input type="password" placeholder="修改密码" name="password2" required></td>
            </tr>
             <tr>
                <td>请再次输入更改后的密码:</td>
                <td><input type="password" placeholder="修改密码" name="password3" required></td>
            </tr>
             <tr>
                <td>点击确认更改:</td>
                <td><button type="submit">立即更改</button></td>
            </tr>
            <tr>
                <td>请谨慎修改密码</td><td><span>{{ message1 }}</span></td>
            </tr>



        </tbody>
    </table>
    </form>
{% endblock %}