{% extends 'cms/base.html' %}

{% block title %}
上传书籍内容
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h3>书籍名</h3>
        <input type="text" value="" name="bookname">
        <h3>输入书籍内容</h3>
        <textarea name="booktextarea" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="提交">
        <h2><a href="{{ url_for('cms.pullbook') }}">{{ message|default("点击上传书籍信息") }}</a></h2>
    </form>
{% endblock %}